# 编译产物
wireguard-go
wireguard-go-debug

# WireGuard 配置（包含密钥）
wg_config/*.key
wg_config/*.conf
wg_config/*.png
wg_config/.tun_name

# RDP Wrapper 临时文件与二进制
wg_config/rdp_files/
wg_config/RDPWInst.exe
wg_config/rdpwrap.ini
wg_config/RDPWrap.zip

# IDE
.vscode/
.idea/

# macOS
.DS_Store

# 其他
device_comments/
wg_data/
